.myDiv-size{
    height: 30px;
    width: 40px;
}

.myDiv-colors{
    background-color: #22CC44;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 0 16px 2px var(--lumo-shade-20pct);
}

div input {
    background-color: red;
}

div div input {
    background-color: green;
    font-size: 7px;
    font-weight: normal;
}